/**************************************
	base
***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6,td,th,p,ul,li,dt,dd {
	font-size: 1em;
}

ul li {
	list-style: none;
}

article, header, footer, aside, figure, figcaption, nav, section { 
	display:block;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img{
	vertical-align: bottom;
}


/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
$pcSize: 1100px;
$mobileSize: 767px;
$contentSize: 900px;

/*color
-----------------------*/
$white: #fff;
$black: #000;
$yellow: #ead13f;
$blue: #084060;

/*font family
-----------------------*/
$fontFamily: 'Noto Serif JP', serif;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,600,700&display=swap&subset=japanese');
/* ---------------------------------------------------------
mixin
----------------------------------------------------------*/
/*メディアクエリ
-----------------------*/
@mixin media($breakPoint) {
	@media screen and (max-width: $breakPoint) {
		@content;
	}
}
/*  clearfix
-----------------------*/
@mixin clearfix(){
	&::before,
	&::after{
		content: '';
		display: table;
	}
	&::after{
		clear: both;
	}
}
/*  font-size
-----------------------*/
@mixin fontsize($size: 14, $base: 14) {
	font-size: $size + px;
	font-size: ($size / $base) * 1rem;
}
/*  transition
-----------------------*/
@mixin transition {
	transition: all .2s linear;
}

@mixin hoverOpacity {
	&:hover {
		opacity: .7;
	}
}

@mixin expand {
	@keyframes expand {
		50% {
			transform: scale(1);
		}

		100% {
			transform: scale(.8);
		}
	}
}

@mixin rotates {
	@keyframes rotates {
		0% {
			transform: rotate(0deg);
		}

		50% {
			transform: rotate(35deg);
		} 

		100% {
			transform: rotate(0deg);
		}
	}
}
/* render text
----------------------*/
@mixin renderText {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html {
	color: $black;
	background-color: $white;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: normal;
}

body {
	font-family: $fontFamily;
}

html,
body {
	position: relative;
	min-width: $pcSize;
	@include renderText;
}


a {
	text-decoration:none;
	color: $black;
}

img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}


table {
	width: 100%;
	border-collapse: collapse;
}

.clearfix {
	@include clearfix;
}

/******************************
 	base sp
*******************************/

@include media($mobileSize) {
	html {
		min-width: 100%;
	}
	html, body {
		min-width: 100%;
	}
}
/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	html, body {
		min-width: 100%;
	}
}*/