// Button Setings
$primary: #333;
$secondary: #777;
$ghost: transparent;
$border-size: 1px;

.btn {
  padding: 10px 15px;
  outline: 0;

  &-primary {
    border: $border-size solid $primary;
    background: $primary;
  }

  &-secondary {
    border: $border-size solid $secondary;
    background: $secondary;
  }

  &--ghost {
    &:hover {
      background: transparent;
    }
  }
}