.container {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

p {
  color: red;
}

@keyframes nani {
  from {
    filter: invert(50%);
  }
  to {
    filter: invert(0);
  }
}

.container {
  background: red;
  transition: all 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
