/**************************************
footer
***************************************/

footer {
}


/******************************
    footer sp
*******************************/

@include media($mobileSize) {
  footer {
  }
}