/**************************************
  header
***************************************/

header {}


/******************************
    header sp
*******************************/
@include media($mobileSize) {
  footer {
  }
}