@charset "UTF-8";
/**************************************
	base
***************************************/
/* ---------------------------------------------------------
スタイルリセット
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,600,700&display=swap&subset=japanese");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, td, th, p, ul, li, dt, dd {
  font-size: 1em;
}

ul li {
  list-style: none;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  vertical-align: bottom;
}

/* ---------------------------------------------------------
変数
----------------------------------------------------------*/
/*break point
-----------------------*/
/*color
-----------------------*/
/*font family
-----------------------*/
/* ---------------------------------------------------------
mixin
----------------------------------------------------------*/
/*メディアクエリ
-----------------------*/
/*  clearfix
-----------------------*/
/*  font-size
-----------------------*/
/*  transition
-----------------------*/
/* render text
----------------------*/
/* ---------------------------------------------------------
初期設定
----------------------------------------------------------*/
html {
  color: #000;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: normal;
}

body {
  font-family: "Noto Serif JP", serif;
}

html,
body {
  position: relative;
  min-width: 1100px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

/******************************
 	base sp
*******************************/
@media screen and (max-width: 767px) {
  html {
    min-width: 100%;
  }
  html, body {
    min-width: 100%;
  }
}

/*
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	html, body {
		min-width: 100%;
	}
}*/
/**************************************

common.scss

***************************************/
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.btn {
  padding: 10px 15px;
  outline: 0;
}

.btn-primary {
  border: 1px solid #333;
  background: #333;
}

.btn-secondary {
  border: 1px solid #777;
  background: #777;
}

.btn--ghost:hover {
  background: transparent;
}

.container {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

p {
  color: red;
}

@-webkit-keyframes nani {
  from {
    -webkit-filter: invert(50%);
            filter: invert(50%);
  }
  to {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
}

@keyframes nani {
  from {
    -webkit-filter: invert(50%);
            filter: invert(50%);
  }
  to {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
}

.container {
  background: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

/**************************************
  header
***************************************/
/******************************
    header sp
*******************************/
/**************************************
footer
***************************************/
/******************************
    footer sp
*******************************/
.home main {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: red;
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
